
<div class="head">
  <!-- <a class = "out" id="icon"> AviaSales</a> -->
  <a class="out" id="icon" href=""> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Aviasales_logo.png/1200px-Aviasales_logo.png"></a>
  <div class="header_middle_links">

  <a href="">Home</a>
  <div class="space"></div>
  <a href="">About</a>
  <div class="space"></div>
  <a href="">Offers</a>
  <div class="space"></div>
  <a href="">Seats</a>
  <div class="space"></div>
  <a href="">Destinations</a>
  </div>
  <a class="out" id="signin" href=""> Sign in </a>
  <a class="out" id="signup" href=""> Sign up </a>
  <a class= "out" id="contact" href="">Contact</a>
</div>


