<footer>
  <div class="footer_logo">
      <a href="#"><img src="assets\facebook.png" alt="Logo"></a>
      <div class="space"></div>
      <a href="#"><img src="assets\instagram.png" alt="Logo"></a>
      <div class="space"></div>
      <a href="#"><img src="assets\twitter.png" alt="Logo"></a>
    </div>
    <div class="footer_links">
      <a href="#">Home</a>
      <a href="#">About Us</a>
      <a href="#">Services</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Contact Us</a>
    </div>
    <div class="footer_social">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <p>&copy; 2024 AviaSales</p>
    </div>
</footer>
