<div class="signupcomp">
    <div class="left-div">
        <img class="background-image" src="assets\bigsky4.jpg" alt="phoneimg">
      </div>

<section class="main">

    <div class="right-div">
      <div class="panel signup">
        <img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Aviasales_logo.png/1200px-Aviasales_logo.png" alt="logo">
        <h3>Let's create an account</h3>
        <form>

          <input
            class="input-box"
            type="text"
            name="Name"
            required
            placeholder="Name"
            [(ngModel)]="unit_user.name"
          >

          <input
            class="input-box"
            type="text"
            name="Surname"
            required
            placeholder="Surname"
            [(ngModel)]="unit_user.surname"
          >

            <input
            class="input-box"
            type="email"
            name="email"
            required
            placeholder="Email"
            [(ngModel)]="unit_user.email"
            >

          <input
            class="input-box"
            type="tel"
            name="phone"
            required
            placeholder="Phone Number"
            [(ngModel)]="unit_user.contacts"
          >

          <br>

          <input
            class="input-box"
            type="text"
            name="username"
            required
            placeholder="Username"
            [(ngModel)]="user.username"
          >

            <input
            class="input-box"
            type="password"
            name="password"
            required
            placeholder="Password"
            [(ngModel)]="user.password"
            >

            <input
            class="button"
            type="submit"
            name="signup"
            value="Sign up"
            (click)="createUser()"
            >

        </form>
      </div>
      <div class="panel signin">
        <p>Already have an account?</p>
        <a [routerLink]="['/signin']">Sign in.</a>
      </div>
    </div>
</section>
</div>
<app-footer></app-footer>



